{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Login</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="apply_job_form white-bg">
                    <h4>Login to your account</h4>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input_field">
                                    <input type="text" name="username" placeholder="Username" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input_field">
                                    <input type="password" name="password" placeholder="Password" required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="submit_btn">
                                    <button class="boxed-btn3 w-100" type="submit">Login</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="mt-4 text-center">
                        <p>Don't have an account? <a href="{% url 'accounts:signup' %}">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %} 